---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import spreadImage from "../images/image-one.jpg";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="container">
			<div class="controls">
				<button class="button">Print PDF</button>
			</div>
			<div class="cards">
				<div class="card">
					<div class="card-img">
						<img src={spreadImage} alt=""/>
					</div>
					<div class="card-thumbs">
						<div class="card-thumb">
							<img src={spreadImage} alt=""/>
						</div>
						<div class="card-thumb">
							<img src={spreadImage} alt=""/>
						</div>
						<div class="card-thumb">
							<img src={spreadImage} alt=""/>
						</div>
						<div class="card-thumb">
							<img src={spreadImage} alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script src="../scripts/createPdf.js"></script>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

	:root {
	--border: 1px solid #000;
	}

	body {
		background: #faf2e8;
		font-family: "Poppins", sans-serif;
		font-size: 16px;
		min-height: 100svh;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	h2 {
		margin: 0;
		font-size: 1.6rem;
		font-weight: 300;
	}

	.container {
		margin: 0 auto;
		max-width: 1400px;
		padding: 2rem;
	}

	.controls {
		display: flex;
		justify-content: flex-end;
	}

	.button {
		display: inline-block;
		padding: 0.45rem 1rem;
		background: none;
		border: var(--border);
		box-shadow: inset -1px -1px 0 0 #000, inset 1px 1px 0 0 #fff, 5px 5px 0 #0003;
		cursor: pointer;
		font-size: 0.85rem;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.cards {
		margin: 2rem 0 0 auto;
		max-width: 900px;
		width: 90%;
	}

	.card {
		display: flex;
		flex-direction: column;
		border: var(--border);
		box-shadow: inset -1px -1px 0 0 #000, inset 1px 1px 0 0 #fff, 8px 8px 0 #0003;
	}

	.card-img {
		position: relative;
		margin: 0.5rem;
		aspect-ratio: 16 / 9;
		border: var(--border);
		overflow: hidden;
	}

	.card-thumbs {
		display: flex;
		justify-content: space-between;
		padding: 0 0.25rem 0.5rem;
	}

	.card-thumb {
		margin: 0 0.25rem;
		width: calc(25% - 0.25rem);
		height: 150px;
		border: var(--border);
	}

	.card-thumb img {
		object-fit: cover;
		height: 100%;
		aspect-ratio: 16 / 9;
	}

</style>
